.select2-container {
  width: auto !important;
  margin-right: 30px;
}
.select2-container .select2-selection--single {
  height: 40px;
  background-color: transparent;
  border-radius: 0;
  border: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 18px 0 0;
  font-size: 14px;
  font-weight: 200;
  transition: 0.5s ease;
}
.select2-container .select2-selection--single[aria-expanded="true"] {
  background-color: transparent;
}
.select2-container .select2-selection--single:hover .select2-selection__rendered {
  color: $primary;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 20px;
  width: 18px;
  top: 10px;
  right: 0;
  background: url("/img/arrow.svg") no-repeat center right;
  background-size: 16px auto;
  margin-top: 1px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $primary;
  color: #fff;
  white-space: nowrap;
}
.select2-container--default .select2-results__option--selected {
  color: #fff;
  background-color: $primary;
  cursor: default;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: transparent;
  color: $primary;
  cursor: default;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparent;
  color: $primary;
}
.select2-results__option {
  padding: 0 0;
  font-size: 14px;

  font-weight: 400;
  color: #fff;
  height: 36px;
  line-height: 36px;
  transition: 0.5s ease;
}
.select2-dropdown {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
  border-radius: 16px !important;
  min-width: 180px;
  padding: 6px 0 6px 15px;
  background-color: #222227;
  z-index: 98;
}
.select2-container--open .select2-dropdown--below {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.select2-container--open .select2-dropdown--above {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
