.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px 0 0 20px;
  border-radius: 16px;
  position: relative;
  margin-top: 20px;
  box-shadow: rgba(0,0,0,0.03) 0px 0.5rem 1rem !important;
}
.profile__tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.profile__tabs li {
  margin-right: 20px;
}
.profile__tabs li:last-child {
  margin-right: 0;
}
.profile__tabs a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 40px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 200;
}
.profile__tabs a:hover {
  color: #1e5fe3;
}
.profile__tabs a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-color: $primary;
  transition: 0.5s ease;
  transform: translateY(2px);
  opacity: 0;
  border-radius: 2px 2px 0 0;
}
.profile__tabs a.active {
  color: #1e5fe3;
  cursor: default;
}
.profile__tabs a.active:before {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 576px) {
  .profile__tabs li {
    margin-right: 25px;
  }
  .profile__tabs li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .profile {
    margin-top: 30px;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .profile__tabs {
    border-bottom: none;
    margin-bottom: 0;
    width: auto;
    margin-right: auto;
  }
  .profile__tabs li {
    margin-right: 30px;
  }
  .profile__tabs li:last-child {
    margin-right: 0;
  }
  .profile__tabs a {
    align-items: center;
    height: 70px;
  }
}
