
.VueCarousel{
  max-width: 100%;
}

.VueCarousel-dot {
  height: 4px !important;
  border-radius: 2px !important;
  padding:0 !important;
  margin-right: 8px;
  background-color: $gray-400 !important;

  &.VueCarousel-dot--active{
    width: 20px !important;
    background-color: $primary !important;
  }

  &:last-child{
    margin-right:0;
  }
}
